
.taxi {
 background-image: url(../assets/images/taxi.jpg);
 height: 100vh;
 width: 100%;
 background-position: bottom;
 background-size: 100%;
 background-repeat: no-repeat;
}

.jumbotron {
	background-color: #F3C600;
	border-radius: 0!important;
	margin-top: 6em;
}

.primerasLineas {
	margin-bottom: 1em;
}

.textUno, .textDos {
	margin: 0;
	font-size: 1.3em;
	color: #ffffff;
	font-weight: 700;
}

hr {
	width: 3em;
}


.textTres {
	margin: 0;
	font-size: 1em;
	color: #ffffff;
	display: inline;
	margin-right: 0.8em;
}

p {
	color: #ffffff;
}

.option {
	text-align: center;
}

.logoWhite {
	width: 5em;
}

.btn-lg {
	margin-top: 0.8em;
	font-size: 0.5em;
}

.phone {
	background-color: #F3C600;
	width: 100%;
	height: 30em;

}

.principalPhotoCelular {

	width: 90%;
	height: 25em;
	border-style: solid ;
	border-color: #ffffff;
	margin-top: 3em;
	display: inline-flex;
}

.photoCelular {
	width: 30%;
	height: 15em;
	margin-top: 7em;
	margin-left: 7em;
	padding-right: 3em;

}

.titleCelular {
	padding-bottom: 0.5;
	margin: 0;
	color: #ffffff;
	margin-bottom: 0.8em;
}

.textCelular {
	float: right;
	width: 35%;
	display: inline-block;
	padding-left: 7em;
	padding-top: 3em;
}

.principalPhotoCelularSmall {
	text-align: center;
	border-style: solid ;
	border-color: #ffffff;
	width: 90%;
	height: 25em;
}

.textCelularSmall {
	text-align: center;
	margin-top: 3em;
}

.photoCelularSmall {
	width: 30%;
	height: 15em;
	margin-top: 6em;
	margin-left: 7em;
	padding-right: 3em;
}
